<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>HelloWorldService</servlet-name>
		<servlet-class>com.davidjozis.gwt.example.server.HelloWorldServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorldService</servlet-name>
		<url-pattern>/app/helloWorldService</url-pattern>
	</servlet-mapping>
</web-app>
